body{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;


}
.menu a  {
    font-size: 25px;
    padding: 10px 20px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration: none;
}
.menu a:hover{
    background: red;
    transition: 0.2;
}
#no{
    color: red;
    font-size: 60px;
    text-align: center;
} 
#skill{
    padding: 100px 50px;
}
.skill-row{
    display: flex;
    justify-content:left;
    align-items: left;
    flex-wrap: wrap;
}
.skill-leftcolm{
    flex-basis: 50%;
    }
    .skill-rightcolm{
        flex-basis: 50%;
        
    }
    progress{
        width: 80%;
    }
    .progress-div{
        width: 70%;
        margin: auto;
        color:white;
    }
    .progress-div p{
        margin-bottom: 10px;
        font-size: 20px;
        padding-left: 80px;
        text-align: justify;
    }
#nb{
    font-size: 20px;
    color:white;
}